* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
/* Navbar style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282f37;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}
.title-logo {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: azure;
    text-decoration: none;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    letter-spacing: 2px;
}
.nav-list a {
    text-decoration: none;
    color: azure;
    font-weight: bold;
}
/* Navbar end */

/* Landing Section Style */

.landing-section {
    display: flex;
    /* justify-content: space-between;  */
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin-bottom: 100px;
}
.title-heading {
    font-size: 50px;
    font-weight: bold;
    color: #575757;
}
.title-color {
    color: rgb(248, 3, 3);
}
.title-summary {
    font-size: 20px;
    font-weight: 500;
    color: #646060;
    margin-top: 20px;
    margin-bottom: 50px;
}
.order-button {
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(orange, red);
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-weight: 300;
    text-align: center;
}

.half-width {
    width: 45%;
    padding: 10px;
}
.bannar-img {
    padding-left: 00px;
}
#lady-model {
    padding-left: 50px;
}
/* Landing style end */

/* About section style */

.about-section {
    display: flex;
    padding-left: 70px;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    background-image: url(images/shapes/7.png);
    margin-bottom: 100px;
}
.about-me {
    padding-left: 90px;
    text-align: left;
    padding-bottom: 150px;
}
.female-lady {
    height: 600px;
    width: 450px;
    padding-top: 50px;
    padding-left: 50px;
}
.contact-button {
    text-decoration: none;

    color: whitesmoke;
    background-image: linear-gradient(orange, red);
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-weight: 300;
    text-align: center;
}

/* About Section End */

/* Recipe Section Start */

.recipe-header {
    text-align: center;
    width: 700px;
    height: 200px;
    margin: auto;
}
.recipe-img {
    height: 250;
    width: 330px;
    padding-top: 15px;
}
.recipe-items {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}
.display-recipe {
    width: 30%;
    padding-left: 18px;
    box-shadow: 20px 20px 50px rgb(199, 196, 196);
    border-radius: 25px;
    margin-bottom: 100px;
}
/* Recipe Section End */

/* Media Section style */

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 200px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 20px 20px 20px 20px rgb(199, 196, 196);
    border-radius: 25px;
    margin-bottom: 300px;
}

/* Media Style End */

/* Feedback Style Start*/
.feedback-info {
    text-align: center;
    padding: 20px;
    margin-bottom: 200px;
}
/* .feedback-form{
    
} */
.info-header {
    font-size: 30px;
    font-weight: bold;
    color: #282f37;
}
.info-para {
    font-size: 20px;
    font-weight: 500;
    color: #646060;
    margin-top: 20px;
    margin-bottom: 50px;
}
#person-info{
    display: flex;
}
.form-input input {
    height: 50px;
    padding: 50px;
}

/* Feedback Style End */

/* Footer Section */

.feedback-info {
    background-color: #eee;
    
}
.footer-head {
    font-size: 50px;
    text-transform: uppercase;
}
.footer-logo {
    color: orange;
}
.form-info{
    height: 35px;
    padding: 20px;
    width: 250px;
    border: none;
    box-shadow: 20px 20px 20px 10px rgb(199, 196, 196);
}
.person-details{
    width: 80%;
    display: flex;
    justify-content:space-evenly;
    margin: auto;
}
#person-name{

}
#person-id{

}
button{
    background-color: #0DC9EB;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}